@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --text-font: "Roboto", sans-serif;
  --text-font-condensed: "Roboto Condensed", sans-serif;
  --body-line-height: 1.6;
  --base-turquoise: #26bbbb;
}

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
}

body {
  line-height: var(--body-line-height);
  overflow-wrap: anywhere;
}

/* UTILITIES */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.none {
  display: none;
}
